
@import url('https://fonts.cdnfonts.com/css/orbit-gate');
html, body{
    
    height:100vh;
    margin: 0;
    font-family: 'Orbit Gate', sans-serif !important;
    color: rgb(157, 161, 165) !important;
  }
a{
    text-decoration: none !important;
}
li{
    margin-top: 5px;
    cursor: pointer;
}
@keyframes texto {
    0% {
        box-shadow: rgba(149, 157, 165, 0.2) 1px 8px 24px;
    }
    100% {
        box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 5px 5px;
    }

    }
    

li:hover{
    filter: brightness(0.7);
}
  .btnPerfil{
    cursor: pointer;
    width: 35px;
    border-radius: 2px;
    filter: brightness(50%);
  }
  .btnPerfil:hover{
    filter: brightness(100%);    
  }
.content{
    transition-duration: 1s;
    margin-left: 500px;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.perfil {
    transition-duration: 1s;
    display: flex;
    position: fixed;
    flex-direction: column;
    background: rgb(61, 59, 59);
    padding: 30px;
    width: 500px;
    height: 100%;
}
.perfilDescription{
    transition-duration: 0s;
}
.fotoContent{
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.fotoPerfil{
    transition-duration: 1s;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;  
    border: 5px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.09), 0 10px 10px rgba(237, 229, 229, 0.03);}
.fotoPerfil:hover{
    transition-duration: 1s;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 10 10px 30px rgba(255, 255, 255, 0.19), 10 10 30px rgba(237, 229, 229, 0.03);
}
.cardConocimientos{
    animation: texto 3s infinite alternate;
    letter-spacing: 1.5px;
    margin-top: 10px;
    width: 230px;
    height: 380px;
}
.cardimg{
    width: 100%;
    height: auto;
}
.cardText{
    padding: 10px;
}
.cardText:hover{
    animation: textos 4s ease infinite;
}
@keyframes textos {
    0%{
        border: 1px solid black;
    }
    100%{
        border: 2px solid blue;
    }
}
.cardConocimientos:hover{
    transition-duration: 0.7s;
    transform: translate(0,5px);
    background: linear-gradient(45deg, rgba(255,255,255,1) , rgba(20, 6, 6,0.5) );
}
.TextContent{
    width: 1300px;
}
.Texth1::before{
    border: 1px solid aquamarine !important;
}